build-job:
  stage: build
  before_script:
    - apt-get update && apt-get -y install build-essential scons pkg-config libx11-dev libxcursor-dev libxinerama-dev libgl1-mesa-dev libglu-dev libasound2-dev libpulse-dev libudev-dev libxi-dev libxrandr-dev yasm
    - python --version
    - alias scons="/usr/bin/env python3 $(which scons)"
    - alias python=python3
    - python --version
    - scons -v
    - python3 --version
    - /usr/bin/env python3 $(which scons)
  script:
    - alias scons="/usr/bin/env python3 $(which scons)" && scons -j8 platform=linuxbsd
