default:
  image: gcc
  
stages:
  - build
  - testing
  - package
  
build-job:
  stage: build
  before_script:
    - apt-get update && apt-get -y install git gcc build-essential scons pkg-config libx11-dev libxcursor-dev libxinerama-dev libgl1-mesa-dev libglu-dev libasound2-dev libpulse-dev libudev-dev libxi-dev libxrandr-dev yasm
    - gcc --version
    - rm -f /usr/bin/python2 && ln -s /usr/bin/python3 /usr/bin/python2
  script:
    - mkdir bin
    - scons platform=linuxbsd tools=no tests=yes -j$(nproc)
  artifacts:
    paths:
      - bin/*

testing-job:
  stage: testing
  before_script:
    - apt-get update && apt-get -y install git gcc build-essential scons pkg-config libx11-dev libxcursor-dev libxinerama-dev libgl1-mesa-dev libglu-dev libasound2-dev libpulse-dev libudev-dev libxi-dev libxrandr-dev yasm
    - gcc --version
    - rm -f /usr/bin/python2 && ln -s /usr/bin/python3 /usr/bin/python2
  script:
    - ./bin/godot.linuxbsd.debug.64 --test --test-case-exclude="*[ClassDB]*" --test-case-exclude="*[Image]*" --test-case-exclude="*[PCKPacker]*"
    
package-job:
  stage: package
  before_script:
    - apt-get update && apt-get -y install git gcc build-essential scons pkg-config libx11-dev libxcursor-dev libxinerama-dev libgl1-mesa-dev libglu-dev libasound2-dev libpulse-dev libudev-dev libxi-dev libxrandr-dev yasm
    - gcc --version
    - rm -f /usr/bin/python2 && ln -s /usr/bin/python3 /usr/bin/python2
  script:
    - scons platform=linuxbsd tools=no -j$(nproc) target=release
    - tar cf godot.tar.gz bin/ --gzip
  artifacts:
    paths:
      - godot*.tar.gz
